<nav class="navbar navbar " id="navbar_c">
	<a class="navbar-brand text-white" id="pqr_title">PQRSF</a>
	<form class="form-inline my-2-lg-0">
		<i class="fa fa-power-off fa-2x text-danger" ng-click="cerrar()"></i>
	</form>
</nav>

<div class="container-fluid">
	<div class="row d-flex justify-content-center">
		<div class="col-12 col-sm-12 col-xl-6 mt-2">
			<div class="card">
				<div class="card-header">
					<h4 class="text-white">Bienvenido</h4>
				</div>
				<div class="card-body">
					<p>Apreciado ciudadano, por medio del sistema de PQRSF, usted podrá presentar peticiones, quejas respetuosas,
						reclamos,
						sugerencias, felicitaciones y consultar las mismas. Nos comprometemos a atender su solicitud lo mas pronto
						posible.</p>

					<!-- <form action="">
						<div class="form-row">
							<div class="form-group col-12 col-sm-12 col-xl-6"></div>
						</div>
					</form> -->
				</div>
				<div class="card-footer">
					<button type="button" class="btn btn btn-block text-white" id="btn_r" ng-click="continuar()">Continuar</button>
				</div>
			</div>
		</div>
	</div>
</div>