<nav class="navbar navbar " id="navbar_c">
	<a class="navbar-brand text-white" id="pqr_title">PQRSF</a>
	<form class="form-inline my-2-lg-0">
		<i class="fa fa-power-off fa-2x text-danger" ng-click="cerrar()"></i>
	</form>
</nav>
<div class="container-fluid">
	<div class="row d-flex justify-content-center">
		<div class="col-12 col-sm-12 col-xl-6 mt-5">
			<div class="card">
				<div class="card-header">
					<h4 class="text-white">Opciones</h4>
				</div>
				<div class="card-body">
					<form action="">
						<div class="form-row">
							<div class="form-group col-12 col-sm-12 col-xl-6">
								<label for="">Consultar solicitudes</label>
								<button type="button" class="btn btn btn-block text-white btn_r" ng-click="v_solicitudes()">Ingresar</button>
							</div>
							<div class="form-group col-12 col-sm-12 col-xl-6">
								<label for="">Crear solicitud</label>
								<button type="button" class="btn btn btn-block text-white btn_r" ng-click="solicitudes()">Ingresar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>